body {
    background: black;
    margin: 0px;
    font-family: "Press Start 2P", system-ui;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 900;
    height: 700;
    font-family: "PressStart2P", system-ui;
    font-weight: 400;
    background: black;
}

@font-face {
    font-family: "PressStart2P";
    src: url("assets/PressStart2P-Regular.ttf");
    style: "normal";
    weight: "400";
}
